# SPDX-License-Identifier: GPL-2.0-only
#
# UTF-8 normalization
#
config UNICODE
	bool "UTF-8 normalization and casefolding support"
	help
	  Say Y here to enable UTF-8 NFD normalization and NFD+CF casefolding
	  support.

config UNICODE_KUNIT_TESTS
	bool "KUnit tests for Unicode normalization and casefolding support"
	depends on UNICODE && KUNIT
	default n
	help
	  This builds the KUnit test suite for Unicode normalization and
	  casefolding support.

	  KUnit tests run during boot and output the results to the debug log
	  in TAP format (http://testanything.org/). Only useful for kernel devs
	  running KUnit test harness and are not for inclusion into a production
	  build.

	  For more information on KUnit and unit tests in general please refer
	  to the KUnit documentation in Documentation/dev-tools/kunit/.

	  If unsure, say N.
